html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	height: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 18px;
  color: #262626;
  overflow-x: hidden;
}

html, body {
	-webkit-tap-highlight-color: transparent;
	max-width: 100%;
}

img{
	max-width: 100%;
}

h1 {
	font-family: 'Oswald';
}

h2 {
	color: #212529;
  font-size: 33px;
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: 1px solid #CCC;
}

h3 {
	color: #5d6ace;
  font-family: 'Oswald';
}

h4 {
	color: #666;
	font-family: 'Oswald';
}

section {
	margin-bottom: 15px;
}

@media print {
	a {
		text-decoration: none !important;
	}
}